---
import { BASE } from '../scripts/helpers/constants.js';

const { class: className, ...attrs } = Astro.props;

const classes = ['clients-section', className];

const cards = [
  {
    cardTitle: 'Private Clients &&nbsp;Collectors',
    cardText: `
			Мы берем на&nbsp;себя операционную рутину,
      гарантируя конфиденциальность
      и&nbsp;отсутствие давления при&nbsp;принятии решений.
		`,
    cardList: [
      'Передача коллекции наследникам и&nbsp;подготовка к&nbsp;её сохранению',
      'Личная благотворительность и&nbsp;дарение в&nbsp;музеи',
      'Координация с&nbsp;вашими персональными консультантами и&nbsp;хранение истории владения',
    ],
  },
  {
    cardTitle: 'Family Offices&nbsp;& Wealth Management',
    cardText: `
			Интеграция искусства в&nbsp;глобальную архитектуру семейного капитала.
		`,
    cardList: [
      'Наследственное планирование',
      'Структурирование филантропии',
      'Синхронизация с&nbsp;налоговыми и&nbsp;юридическими консультантами семьи',
    ],
  },
  {
    cardTitle: 'Banks&nbsp;&&nbsp;Corporate Institutions',
    cardText: `
			Аутсорсинг арт-экспертизы.
      Управление корпоративными коллекциями
      и&nbsp;декорирование штаб-квартир.
		`,
    cardList: [
      'Оценка залогов',
      'Независимый Due Diligence для VIP-клиентов',
      'Управление корпоративными коллекциями и&nbsp;декорирование штаб-квартир',
    ],
  },
];
---

<section
  class:list={classes}
  {...attrs}
>
  <img
    class="competencies-section__word js-clients-word"
    src={`${BASE}images/clients-section/clients-word.svg`}
    alt="Клиенты"
    loading="lazy"
  />

  <div class="clients-section__container">
    <div class="clients-section__cards">
      {cards.map((card) => (
        <div class="clients-section__card js-clients-section-card">
          <div class="clients-section__card-background">
            <span class="clients-section__card-border-left js-clients-section-card-bl"></span>
            <span class="clients-section__card-border-right js-clients-section-card-br"></span>
            <span class="clients-section__card-border-top js-clients-section-card-bt"></span>
            <span class="clients-section__card-border-bottom js-clients-section-card-bb"></span>
            <svg class="clients-section__card-overlay" viewBox="0 0 100 100" preserveAspectRatio="none">
              <path class="js-card-overlay-path" fill="#87977a"></path>
            </svg>
          </div>

          <div class="clients-section__card-content js-clients-section-card-content">
            <h3
              class="clients-section__card-title js-clients-section-card-title"
              set:html={card.cardTitle}
            />

            <div class="clients-section__card-body js-clients-section-card-body">
              <p
                class="clients-section__card-text js-clients-section-card-text"
                set:html={card.cardText}
              />
              <ul class="clients-section__card-list js-clients-section-card-list">
                {card.cardList?.length > 0 && (
                  card.cardList.map((item) => (
                    <li
                      class="clients-section__card-list-item"
                      set:html={item}
                    />
                  ))
                )}
              </ul>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  import { gsap } from '../scripts/helpers/gsap.js';
  import { layoutScrollSmoother } from '../scripts/layoutScrollSmoother.js';
  import { throttle } from '../scripts/helpers/utils.js';

  function clientsSectionAnimations() {
    const clientsWord = document.querySelector('.js-clients-word');

    if (clientsWord && layoutScrollSmoother.smoother) {
      layoutScrollSmoother.smoother.effects(clientsWord, {
        speed: 1.5,
        lag: 0.3,
      });
    }

    const cards = gsap.utils.toArray('.js-clients-section-card');
    const mm = gsap.matchMedia();

    function cardAnimationsHandler(desktopMode) {
      const cleanups = [];

      cards.forEach((card, index) => {
        const cardBorderLeft = card.querySelector('.js-clients-section-card-bl');
        const cardBorderRight = card.querySelector('.js-clients-section-card-br');
        const cardBorderTop = card.querySelector('.js-clients-section-card-bt');
        const cardBorderBottom = card.querySelector('.js-clients-section-card-bb');
        const cardContent = card.querySelector('.js-clients-section-card-content');
        const cardTitle = card.querySelector('.js-clients-section-card-title');
        const cardBody = card.querySelector('.js-clients-section-card-body');
        const cardText = card.querySelector('.js-clients-section-card-text');
        const cardList = card.querySelector('.js-clients-section-card-list');
        const cardPath = card.querySelector('.js-card-overlay-path');

        if (
          !cardBorderLeft
          || !cardBorderRight
          || !cardBorderTop
          || !cardBorderBottom
          || !cardContent
          || !cardTitle
          || !cardBody
          || !cardText
          || !cardList
          || !cardPath
        ) {
          return;
        }

        const cardTimeline = gsap.timeline({
          scrollTrigger: {
            trigger: card,
            start: 'bottom bottom',
          },
          onStart: () => {
            card.style.pointerEvents = 'none';
          },
          onComplete: () => {
            card.style.pointerEvents = 'auto';
            cardTimeline.scrollTrigger?.kill();
            cardTimeline.kill();
          },
          onInterrupt: () => {
            card.style.pointerEvents = 'auto';
          },
        });

        const animationTimeShift = desktopMode ? index % 4 * 1.2 : 0;

        cardTimeline.from(cardBorderLeft, {
          scaleY: 0,
          duration: 0.6,
          ease: 'none',
        }, 0.3 + animationTimeShift)
        .from(cardBorderBottom, {
          scaleX: 0,
          duration: 0.6,
          ease: 'none',
        }, 0.3 + animationTimeShift)
        .from(cardBorderRight, {
          scaleY: 0,
          duration: 0.6,
          ease: 'none',
        }, 0.9 + animationTimeShift)
        .from(cardBorderTop, {
          scaleX: 0,
          duration: 0.6,
          ease: 'none',
        }, 0.9 + animationTimeShift)
        .from(cardContent, {
          '--after-opacity': '0',
          duration: 0.9,
          ease: 'none',
        }, 0 + animationTimeShift)
        .from(cardTitle, {
          opacity: 0,
          duration: 1.2,
          ease: 'none',
        }, 0.3 + animationTimeShift)
        .from(cardBody, {
          opacity: 0,
          duration: 1.2,
          ease: 'none',
        }, 0.6 + animationTimeShift);

        if (desktopMode) {
          const numPoints = 7;
          const delayPointsMax = 0.6;
          const pointsDelay = [];
          const points = [];
          let isOpened = false;
          let isHovered = false;
          
          let pathTimeLine = gsap.timeline({ 
            onUpdate: render,
            defaults: {
              ease: "power2.inOut",
              duration: 0.7,
            }
          });

          for (let i = 0; i < numPoints; i++) {
            points.push(0);
          }
  
          toggle();

          const throttledToggle = throttle(() => {
            if (isOpened !== isHovered) {
              isOpened = isHovered;

              toggle();

              gsap.to(cardContent, {
                '--after-color': isOpened ? '#FFFFFF' : '#87977A',
                duration: 0.3,
                ease: 'power2.inOut',
                delay: 0.3,
              });

              gsap.fromTo(cardText,
              {
                y: isOpened ? '0' : '-200%',
                opacity: isOpened ? '1' : '0',
              },
              {
                y: isOpened ? '101%' : '0',
                opacity: isOpened ? '0' : '1',
                duration: 0.9,
                ease: 'power2.inOut',
                delay: isOpened ? 0 : 0.1,
              });

              gsap.fromTo(cardList,
              {
                y: isOpened ? '-101%' : '0',
                opacity: isOpened ? '0' : '1',
              },
              {
                y: isOpened ? '0' : '101%',
                opacity: isOpened ? '1' : '0',
                duration: 0.9,
                ease: 'power2.inOut',
              });
            }
          }, 1000);

          const onMouseEnter = () => {
            isHovered = true;
            throttledToggle();
          };

          const onMouseLeave = () => {
            isHovered = false;
            throttledToggle();
          };

          card.addEventListener('mouseenter', onMouseEnter);
          card.addEventListener('mouseleave', onMouseLeave);
  
          function toggle() {
            pathTimeLine.progress(0).clear();
            
            for (let i = 0; i < numPoints; i++) {
              pointsDelay[i] = Math.random() * delayPointsMax;
            }

            for (let i = 0; i < numPoints; i++) {           
              pathTimeLine.to(points, {
                [i]: 100,
              }, pointsDelay[i]);
            }
          }
  
          function render() {     
            let d = "";
            d += !isOpened ? `M 0 0 V ${points[0]} C` : `M 0 ${points[0]} C`;
            
            for (let i = 0; i < numPoints - 1; i++) {
              let p = (i + 1) / (numPoints - 1) * 100;
              let cp = p - (1 / (numPoints - 1) * 100) / 2;
              d += ` ${cp} ${points[i]} ${cp} ${points[i+1]} ${p} ${points[i+1]}`;
            }
            
            d += !isOpened ? ` V 100 H 0` : ` V 0 H 0`;
            cardPath.setAttribute("d", d);
          }

          cleanups.push(() => {
            card.removeEventListener('mouseenter', onMouseEnter);
            card.removeEventListener('mouseleave', onMouseLeave);

            pathTimeLine.kill();

            points.fill(0);
            isOpened = false;
            isHovered = false;
            cardPath.setAttribute('d', '');

            gsap.killTweensOf([cardContent, cardText, cardList]);

            gsap.set(cardContent, {
              clearProps: '--after-color',
            });

            gsap.set([cardText, cardList], {
              clearProps: 'transform,opacity',
            });
          });
        }
      });

      return () => {
        cleanups.forEach((cleanup) => cleanup());
      };
    }

    mm.add('(max-width: 767.98px)', () => cardAnimationsHandler(false));
    mm.add('(min-width: 768px) and (max-width: 1199.98px)', () => cardAnimationsHandler(false));
    mm.add('(min-width: 1200px)', () => cardAnimationsHandler(true));

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }

  clientsSectionAnimations();
</script>

<style lang="scss" is:global>
  .clients-section {
    $element: &;

    position: relative;
    padding: rem(60) 0 rem(40);
    color: $light;
    background-color: $dark;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

    @media #{$desktop-sm} {
      padding: rem(120) 0;
    }

    &__word {
      position: absolute;
      top: 30%;
      right: var(--container-padding);
      z-index: 1;
      display: block;
      width: rem(48);
      opacity: 0.1;

      @media #{$tablet} {
        top: 0;
        width: rem(68);
      }

      @media #{$desktop-lg} {
        right: calc(50% - 960px + #{var(--container-padding)});
      }
    }

    &__container {
      @include base-container;
    }

		&__cards {
      display: flex;
      flex-direction: column;
      gap: rem(12);
      width: 100%;

      @media #{$tablet} {
        gap: rem(20);
        width: rem(798);
      }

      @media #{$desktop-sm} {
        flex-direction: row;
        flex-wrap: wrap;
        gap: rem(16);
        width: 100%;
      }
		}
    
    &__card {
      position: relative;
      flex-shrink: 0;
      cursor: pointer;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;

      @media #{$desktop-sm} {
        width: calc(25% - rem(12));
        min-height: rem(494);
        pointer-events: none;
      }
    }

    &__card-background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    &__card-border-left {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 1px;
      height: 100%;
      transform-origin: bottom;
      background-color: $light;
    }

    &__card-border-right {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 1px;
      height: 100%;
      transform-origin: bottom;
      background-color: $light;
    }

    &__card-border-top {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 1px;
      transform-origin: left;
      background-color: $light;
    }

    &__card-border-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 1px;
      transform-origin: left;
      background-color: $light;
    }

    &__card-overlay {
      position: absolute;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
    }

    &__card-content {
      --after-opacity: 1;
      --after-color: #{$primary};

      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(48);
      width: 100%;
      height: 100%;
      padding: rem(80) rem(16) rem(24);

      @media #{$tablet} {
        gap: rem(64);
      }

      &::after {
        position: absolute;
        top: rem(24);
        left: rem(16);
        z-index: 1;
        display: block;
        width: rem(32);
        height: rem(32);
        border-radius: 50%;
        background-color: var(--after-color);
        opacity: var(--after-opacity);
        content: '';
      }
    }

		&__card-title {
      @include h4;

      flex-shrink: 0;

      @media #{$desktop-sm} {
        padding-right: rem(40);
      }
		}

    &__card-body {
      display: flex;
      flex-direction: column;
      gap: rem(32);
      flex-grow: 1;

      @media #{$tablet} {
        padding-right: rem(68);
      }

      @media #{$desktop-sm} {
        position: relative;
        justify-content: flex-end;
        padding-right: 0;
        overflow: hidden;
      }
    }

		&__card-text {
      @include text2;

      @media #{$desktop-sm} {
        position: absolute;
        bottom: 0;
        left: 0;
      }
		}

		&__card-list {
      @include resetul;

      @media #{$desktop-sm} {
        opacity: 0;
        transform: translateY(-101%);
      }
		}

		&__card-list-item {
      @include resetli;
      @include text2;
      position: relative;

      display: block;
      margin-top: rem(12);
      padding-left: rem(20);

      @media #{$tablet} {
        padding-left: rem(28);
      }

      &:first-child {
        margin-top: 0;
      }

      &::before {
        position: absolute;
        top: rem(8);
        left: rem(8);
        display: block;
        width: rem(4);
        height: rem(4);
        border-radius: 50%;
        background-color: $light;
        content: '';

        @media #{$tablet} {
          top: rem(10);
          left: rem(10);
          width: rem(6);
          height: rem(6);
        }
      }
		}
  }
</style>
