---
import { BASE } from '../scripts/helpers/constants.js';
import BaseTitle from '../ui/BaseTitle.astro';
import ConsultationForm from '../components/ConsultationForm.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['consultation-section', className];
---

<section
  class:list={classes}
  {...attrs}
>
  <div class="consultation-section__container">
    <div class="consultation-section__image-wrapper">
      <img
        class="consultation-section__photo js-consultation-photo"
        src={`${BASE}images/consultation-section/consultation-image.webp`}
        alt="фото"
        loading="lazy"
      />

      <div class="consultation-section__image-ball js-consultation-image-ball"></div>
    </div>

    <div class="consultation-section__content">
      <BaseTitle class="consultation-section__title">
        Конфиденциальная консультация
      </BaseTitle>

      <ConsultationForm 
        class="consultation-section__form js-consultation-section-form"
        animated
      />
    </div>
  </div>
</section>

<script>
  import { gsap } from '../scripts/helpers/gsap.js';
  import { layoutScrollSmoother } from '../scripts/layoutScrollSmoother.js';

  function consultationSectionAnimations() {
    const consultationPhoto = document.querySelector('.js-consultation-photo');
    const consultationImageBall = document.querySelector('.js-consultation-image-ball');

    if (consultationPhoto && consultationImageBall && layoutScrollSmoother.smoother) {
      layoutScrollSmoother.smoother.effects(consultationPhoto, {
        speed: 1.04,
        lag: 0.1,
      });

      layoutScrollSmoother.smoother.effects(consultationImageBall, {
        speed: 0.9,
        lag: 0.1,
      });
    }
  }

  consultationSectionAnimations();
</script>

<style lang="scss" is:global>
  .consultation-section {
    $element: &;

    position: relative;
    padding: rem(60) 0;
    color: $dark;
    background-color: $light;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

    @media #{$desktop-sm} {
      padding: rem(74) 0;
    }

    &::after {
      position: absolute;
      top: rem(-4);
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: rem(8);
      background-color: $light;
      content: "";
    }

    &__container {
      @include base-container;

      @media #{$tablet} {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: rem(20);
      }
      
      @media #{$desktop-sm} {
        gap: rem(252);
      }
    }

		&__image-wrapper {
      display: none;
      
      @media #{$tablet} {
        position: relative;
        display: block;
        flex-shrink: 0;
        width: rem(460);
        height: rem(562);
        overflow: hidden;
      }

      @media #{$desktop-sm} {
        width: rem(446);
      }
		}
    
		&__photo {
      @media #{$tablet} {
        position: absolute;
        bottom: rem(-70);
        display: block;
        width: 100%;
        height: rem(682);
        max-height: none;
      }
      
      @media #{$desktop-sm} {
        bottom: rem(-50);
        height: rem(662);
      }
		}

		&__image-ball {
      position: absolute;
      top: rem(32);
      right: rem(21);
      z-index: 1;
      width: rem(190);
      height: rem(190);
      border-radius: 50%;
      background-color: $secondary;
      mix-blend-mode: hard-light;

      @media #{$desktop-sm} {
        top: rem(32);
        right: rem(20);
        width: rem(180);
        height: rem(180);
      }
		}

    &__content {
      @media #{$tablet} {
        flex-grow: 1;
      }
    }

    &__form {
      margin-top: rem(52);

      @media #{$desktop-sm} {
        max-width: rem(446);
      }
    }
  }
</style>
