---
import { BASE } from '../scripts/helpers/constants.js';
import BaseIcon from '../ui/BaseIcon.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['footer', className];
---

<footer
  class:list={classes}
  {...attrs}
>
  <div class="footer__container">
    <a
      href="/"
      class="footer__logo js-footer-logo"
    >
      <BaseIcon
        class="footer__logo-icon"
        name="logo-letter"
      />
    </a>

    <div class="footer__contacts">
      <div class="footer__contacts-item footer__contacts-item_type_phone js-footer-contact-item">
        <div class="footer__contacts-item-title">
          Телефон
        </div>

        <a
          class="footer__contacts-item-link"
          href="tel:+74951500119"
        >
          +7&nbsp;(495)&nbsp;150-01-19
        </a>
      </div>

      <div class="footer__contacts-item footer__contacts-item_type_email js-footer-contact-item">
        <div class="footer__contacts-item-title">
          E-mail
        </div>

        <a
          class="footer__contacts-item-link"
          href="mailto:info@arteology.com"
        >
          info@arteology.com
        </a>
      </div>

      <div class="footer__contacts-item footer__contacts-item_type_messengers js-footer-contact-item">
        <div class="footer__contacts-item-title">
          Мессенджеры
        </div>

        <div class="footer__contacts-item-links">
          <a
            class="footer__contacts-item-link footer__contacts-item-link_underlined"
            href="https://wa.me/79032938844"
          >
            WhatsApp
          </a>

          <a
            class="footer__contacts-item-link footer__contacts-item-link_underlined"
            href="https://t.me/79032938844"
          >
            Telegram
          </a>
        </div>
      </div>

      <div class="footer__contacts-item footer__contacts-item_type_office js-footer-contact-item">
        <div class="footer__contacts-item-title">
          Офис
        </div>

        <div class="footer__contacts-item-text">
          Москва, пр-т&nbsp;Вернадского, 29
        </div>
      </div>
    </div>

    <p class="footer__info js-footer-info">
      Консультации проводятся строго конфиденциально 
      по&nbsp;предварительной&nbsp;записи
    </p>

    <div class="footer__bottom js-footer-bottom">
      <div class="footer__copyright">
        <span class="js-this-year">2026</span> © Артеология
      </div>
      
      <a
        class="footer__bottom-link"
        href={`${BASE}documents/personal-data-processing-policy.pdf`}
        target="_blank"
      >
        Политика обработки персональных данных
      </a>

      <a
        class="footer__bottom-link"
        href={`${BASE}documents/privacy-policy.pdf`}
        target="_blank"
      >
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>

<script>
  import { gsap } from '../scripts/helpers/gsap.js';

  function footerAnimations() {
    const mm = gsap.matchMedia();

    function footerAnimationsHandler() {
      const footerLogo = document.querySelector('.js-footer-logo');
      const footerInfo = document.querySelector('.js-footer-info');
      const footerBottom = document.querySelector('.js-footer-bottom');

      if (footerLogo) {
        const tween = gsap.from(footerLogo, {
          opacity: 0,
          duration: 4,
          ease: 'power2.out',
          scrollTrigger: {
            trigger: footerLogo,
            start: "bottom bottom",
          },
            onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      gsap.utils.toArray('.js-footer-contact-item').forEach((item) => {
        const tween = gsap.from(item, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: item,
            start: "bottom bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      });

      if (footerInfo) {
        const tween = gsap.from(footerInfo, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: footerInfo,
            start: "center bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      if (footerBottom) {
        const tween = gsap.from(footerBottom, {
          opacity: 0,
          y: '2rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: footerBottom,
            start: "top bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }
    }
    
    mm.add('(max-width: 767.98px)', footerAnimationsHandler);
    mm.add('(min-width: 768px) and (max-width: 1199.98px)', footerAnimationsHandler);
    mm.add('(min-width: 1200px)', footerAnimationsHandler);

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }
  
  function setYear() {
    const yearElement = document.querySelector('.js-this-year');
    
    if (!yearElement) {
      return;
    }
    
    yearElement.textContent = String(new Date().getFullYear());
  }
  
  footerAnimations();
  setYear();
</script>

<style lang="scss" is:global>
  .footer {
    $element: &;

    padding: rem(32) 0 rem(24);
    background-color: $primary;

    @media #{$desktop-sm} {
      padding: rem(52) 0 rem(24);
    }

    &__container {
      @include base-container;

      position: relative;
    }

		&__logo {
      @include reseta;

      display: block;
      position: absolute;
      top: 0;
      right: rem(20);
      width: rem(164);
      aspect-ratio: 305 / 329;
      color: $light-30;

      @media #{$tablet} {
        right: rem(32);
        width: rem(240);
      }

      @media #{$desktop-sm} {
        width: rem(304);
      }
		}

		&__logo-icon {
      display: block;
      width: 100%;
      height: 100%;
		}

		&__contacts {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: rem(24);

      @media #{$tablet} {
        grid-template-columns: rem(282) rem(238);
        column-gap: rem(112);
        row-gap: rem(32);
      }

      @media #{$desktop-sm} {
        grid-template-columns: rem(372) rem(372);
        column-gap: rem(94);
      }
		}

		&__contacts-item {
      &_type_phone {
        max-width: rem(160);

        @media #{$tablet} {
          grid-row: 2;
          grid-column: 1;
          max-width: none;
        }
      }

      &_type_email {
        max-width: rem(160);

        @media #{$tablet} {
          grid-row: 1;
          grid-column: 2;
          max-width: none;
        }
      }

      &_type_messengers {
        max-width: rem(160);

        @media #{$tablet} {
          grid-row: 2;
          grid-column: 2;
          max-width: none;
        }
      }

      &_type_office {
        @media #{$tablet} {
          grid-row: 1;
          grid-column: 1;
        }
      }
		}

		&__contacts-item-title {
      @include text3;

      margin-bottom: rem(4);
      text-transform: uppercase;
      color: $light-60;

      @media #{$tablet} {
        margin-bottom: rem(8);
      }
		}

    &__contacts-item-links {
      display: flex;
      gap: rem(8);

      @media #{$tablet} {
        gap: rem(16);
      }
    }

		&__contacts-item-link {
      @include reseta;
      @include text2;

      color: $light;
      transition: color $default-transition;

      @media #{$is-hover} {
        &:hover {
          color: $dark;
        }
      }

      &:active,
      &:focus-visible {
        color: $dark;
      }

			&_underlined {
        text-decoration: underline;
			}
		}

		&__contacts-item-text {
      @include text2;

      color: $light;
		}

		&__info {
      position: relative;
      margin-top: rem(48);
      border-top: 1px solid $light-60;
      border-bottom: 1px solid $light-60;
      padding: rem(12) rem(48);
      color: $light;

      @media #{$tablet} {
        margin-top: rem(52);
        border-top: 1px solid $light-60;
        border-bottom: 1px solid $light-60;
        max-width: rem(634);
        padding: rem(24) rem(48);
      }

      @media #{$desktop-sm} {
        max-width: rem(726);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);
        border-radius: 50%;
        width: rem(24);
        height: rem(24);
        background-color: $light-60;
      }
		}

		&__bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(12);
      margin-top: rem(48);

      @media #{$tablet} {
        flex-direction: row;
        align-items: center;
        gap: rem(112);
        margin-top: rem(60);
      }

      @media #{$desktop-sm} {
        gap: rem(60);
        margin-top: rem(40);
      }
		}

		&__copyright {
      @include text3;

      color: $light;
		}

		&__bottom-link {
      @include reseta;
      @include text3;

      text-decoration: underline;
      color: $light;
      transition: color $default-transition;

      @media #{$is-hover} {
        &:hover {
          color: $dark;
        }
      }

      &:active,
      &:focus-visible {
        color: $dark;
      }
		}
  }
</style>
