---
import BaseTitle from '../ui/BaseTitle.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['infrastructure-section', 'js-write-section', className];
---

<section
  class:list={classes}
  data-modal-open="consultation-modal"
  {...attrs}
>
  <div class="infrastructure-section__container">
    <BaseTitle class="infrastructure-section__title">
      Профессиональная инфраструктура для&nbsp;коллекционеров
    </BaseTitle>

    <p class="infrastructure-section__text js-infrastructure-text">
      Мы создаем надежную инфраструктуру
      для&nbsp;владения предметами искусства.
      <br><br>Arteology объединяет академическую экспертизу,
      финансовую аналитику и&nbsp;юридическую чистоту
      для&nbsp;защиты интересов частных инвесторов,
      коллекционеров и&nbsp;Family&nbsp;Offices.
    </p>

    <BaseButton
      class="infrastructure-section__button js-infrastructure-button"
      text="написать нам"
    />
  </div>
</section>

<script>
  import { gsap, SplitText } from '../scripts/helpers/gsap.js';

  function infrastructureSectionAnimations() {
    const mm = gsap.matchMedia();

    function sectionAnimationsHandler() {
      const button = document.querySelector('.js-infrastructure-button');

      if (button) {
        const tween = gsap.from(button, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: button,
            start: 'bottom bottom',
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      const text = document.querySelector('.js-infrastructure-text');

      if (!text) {
        return;
      }

      const splitText = SplitText.create(text, { 
        type: 'words,lines',
        reduceWhiteSpace: false,
      });
  
      const tween = gsap.from(splitText.lines, {
        opacity: 0,
        y: '5rem',
        duration: 1,
        ease: 'power4.out',
        stagger: 0.07,
        scrollTrigger: {
          trigger: text,
          start: "bottom bottom",
        },
        onComplete() {
          tween.scrollTrigger?.kill();
          tween.kill();
        },
      });

      return () => {
        splitText.revert();
      };
    }

    mm.add('(max-width: 767.98px)', sectionAnimationsHandler);
    mm.add('(min-width: 768px) and (max-width: 1199.98px)', sectionAnimationsHandler);
    mm.add('(min-width: 1200px)', sectionAnimationsHandler);

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }

  infrastructureSectionAnimations();
</script>

<style lang="scss" is:global>
  .infrastructure-section {
    $element: &;

    padding: rem(80) 0 0;
    color: $light;
    background-color: $dark;
    cursor: none;
    pointer-events: none;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

    @media #{$desktop-sm} {
      padding: rem(120) 0;
    }

    @media #{$is-hover} {
      pointer-events: auto;
    }

    &__container {
      @include base-container;
    }

    &__title {
      @media #{$tablet} {
        max-width: rem(860);
      }
    }

    &__text {
      margin-top: rem(60);
      
      @media #{$tablet} {
        max-width: rem(444);
        margin-top: rem(72);
        margin-left: rem(490);
      }

      @media #{$desktop-sm} {
        margin-left: rem(698);
      }
    }

    &__button {
      position: relative;
      z-index: 2;
      width: 100%;
      margin-top: rem(60);
      pointer-events: auto;
      
      @media #{$tablet} {
        width: rem(190);
        margin-top: rem(72);
        margin-left: rem(490);
      }

      @media #{$desktop-sm} {
        margin-left: rem(698);
      }

      @media #{$is-hover} {
        display: none;
      }
    }
  }
</style>
