---
import { BASE } from '../scripts/helpers/constants.js';
import BaseTitle from '../ui/BaseTitle.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['partners-section', 'js-write-section', className];
---

<section
  class:list={classes}
  data-modal-open="consultation-modal"
  {...attrs}
>
  <div class="partners-section__container">
    <div class="partners-section__top">
      <BaseTitle 
        class="partners-section__title"
      >
        Официальный партнер ВТБ&nbsp;Private
      </BaseTitle>

      <img
        class="partners-section__vtb-logo js-vtb-logo"
        src={`${BASE}images/partners-section/vtb-logo.svg`}
        alt="vtb logo"
        loading="lazy"
      />
    </div>

    <div class="partners-section__bottom">
      <div class="partners-section__info">
        <h3 class="partners-section__info-title js-partners-subtitle">
          аккредитованный провайдер арт- экспертизы
          для&nbsp;клиентов сегмента HNWI
          и&nbsp;Family&nbsp;Offices банка&nbsp;ВТБ
        </h3>

        <p class="partners-section__info-text js-partners-text">
          Мы обеспечиваем интеграцию искусства в&nbsp;структуру
          wealth-менеджмента: от&nbsp;оценки залоговых активов
          до&nbsp;сопровождения трансграничных сделок в&nbsp;соответствии
          с&nbsp;процедурами банковского комплаенса (KYC/AML).
        </p>
      </div>

      <div class="partners-section__image-wrapper">
        <picture class="partners-section__photo-wrapper js-partners-photo">
          <source
            srcset={`${BASE}images/partners-section/partners-image-desktop.webp`}
            media="(min-width: 768px)"
          />

          <img
            class="partners-section__photo"
            src={`${BASE}images/partners-section/partners-image-mobile.webp`}
            alt="изображение"
            loading="lazy"
          />
        </picture>

        <div class="partners-section__image-ball js-partners-image-ball"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap, SplitText } from '../scripts/helpers/gsap.js';
  import { layoutScrollSmoother } from '../scripts/layoutScrollSmoother.js';

  function partnersSectionAnimations() {
    const partnersPhoto = document.querySelector('.js-partners-photo');
    const partnersImageBall = document.querySelector('.js-partners-image-ball');

    if (partnersPhoto && partnersImageBall && layoutScrollSmoother.smoother) {
      layoutScrollSmoother.smoother.effects(partnersPhoto, {
        speed: 0.93,
        lag: 0.1,
      });
  
      layoutScrollSmoother.smoother.effects(partnersImageBall, {
        speed: 1.03,
        lag: 0.1,
      });
    }

    const mm = gsap.matchMedia();

    function sectionAnimationsHandler() {
      const vtbLogo = document.querySelector('.js-vtb-logo');
      const partnersSubtitle = document.querySelector('.js-partners-subtitle');
      const partnersText = document.querySelector('.js-partners-text');
      let splitSubtitle, splitText;

      if (vtbLogo) {
        const tween = gsap.from(vtbLogo, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: vtbLogo,
            start: "bottom bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      if (partnersSubtitle) {
        splitSubtitle = SplitText.create(partnersSubtitle, { 
          type: 'words,lines',
          reduceWhiteSpace: false
        });
  
        const tween = gsap.from(splitSubtitle.lines, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          stagger: 0.07,
          scrollTrigger: {
            trigger: partnersSubtitle,
            start: "bottom bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      if (partnersText) {
        splitText = SplitText.create(partnersText, { 
          type: 'words,lines',
          reduceWhiteSpace: false
        });
  
        const tween = gsap.from(splitText.lines, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          stagger: 0.07,
          scrollTrigger: {
            trigger: partnersText,
            start: "bottom bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      }

      return () => {
        splitSubtitle?.revert();
        splitText?.revert();
      };
    }
    
    mm.add('(max-width: 767.98px)', sectionAnimationsHandler);
    mm.add('(min-width: 768px) and (max-width: 1199.98px)', sectionAnimationsHandler);
    mm.add('(min-width: 1200px)', sectionAnimationsHandler);

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }

  partnersSectionAnimations();
</script>

<style lang="scss" is:global>
  .partners-section {
    $element: &;

    padding: rem(80) 0;
    color: $light;
    background-color: $dark;
    cursor: none;
    pointer-events: none;

    @media #{$desktop-sm} {
      padding: rem(120) 0;
    }

    @media #{$is-hover} {
      pointer-events: auto;
    }

    &__container {
      @include base-container;
    }

		&__top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(60);

      @media #{$tablet} {
        flex-direction: row;
      }

      @media #{$desktop-sm} {
        margin-left: rem(232);
      }
    }

		&__title {
      @media #{$tablet} {
        @include h3-desktop;

        flex-shrink: 0;
        width: rem(460);
      }
		}

		&__vtb-logo {
      flex-shrink: 0;
      width: rem(126);

      @media #{$tablet} {
        width: rem(170);
      }
		}

		&__bottom {
      display: flex;
      flex-direction: column;
      gap: rem(48);
      margin-top: rem(60);

      @media #{$tablet} {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        margin-top: rem(140);
        gap: rem(184);
      }

      @media #{$desktop-sm} {
        gap: rem(394);
        margin-top: rem(148);
      }
		}

		&__info {
      @media #{$desktop-sm} {
        max-width: rem(444);
      }
		}

		&__info-title {
      @include h4;
		}

		&__info-text {
      margin: rem(48) rem(48) 0 0;

      @media #{$tablet} {
        margin: rem(72) rem(72) 0 0;
      }

      @media #{$desktop-sm} {
        margin: rem(72) 0 0 0;
      }
		}

    &__text {
      margin-top: rem(60);
      
      @media #{$tablet} {
        max-width: rem(444);
        margin-top: rem(72);
        margin-left: rem(490);
      }

      @media #{$desktop-sm} {
        margin-left: rem(698);
      }
    }

		&__image-wrapper {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: rem(440);
      overflow: hidden;

      @media #{$tablet} {
        width: rem(304);
        height: rem(342);
      }

      @media #{$desktop-sm} {
        height: rem(382);
        margin-top: rem(186);
      }
		}

		&__photo-wrapper {
      position: absolute;
      top: rem(-80);
      display: block;
      width: 100%;
      height: rem(600);
      object-fit: cover;

      @media #{$tablet} {
        top: rem(-72);
        height: rem(526);
      }
		}

		&__photo {
      display: block;
      width: 100%;
      height: 100%;
		}

		&__image-ball {
      position: absolute;
      top: rem(120);
      left: rem(14);
      z-index: 1;
      width: rem(187);
      height: rem(187);
      border-radius: 50%;
      background-color: $secondary;
      mix-blend-mode: hard-light;

      @media #{$tablet} {
        top: rem(120);
        left: rem(30);
        width: rem(163);
        height: rem(163);
      }
		}
  }
</style>
