---
import { BASE } from '../scripts/helpers/constants.js';
const { class: className, ...attrs } = Astro.props;

const classes = ['partners-section', 'js-write-section', className];
---

<section
  class:list={classes}
  data-modal-open="consultation-modal"
  {...attrs}
>
  <div class="partners-section__container">
    <div class="partners-section__top">
      <h2 class="partners-section__title js-partners-title">
        Официальный партнер ВТБ&nbsp;Private
      </h2>

      <img
        class="partners-section__vtb-logo js-vtb-logo"
        src={`${BASE}images/partners-section/vtb-logo.svg`}
        alt="vtb logo"
        loading="lazy"
      />
    </div>

    <div class="partners-section__bottom">
      <div class="partners-section__info">
        <h3 class="partners-section__info-title js-partners-subtitle">
          аккредитованный провайдер арт- экспертизы
          для&nbsp;клиентов сегмента HNWI
          и&nbsp;Family&nbsp;Offices банка&nbsp;ВТБ
        </h3>

        <p class="partners-section__info-text js-partners-text">
          Мы обеспечиваем интеграцию искусства в&nbsp;структуру
          wealth-менеджмента: от&nbsp;оценки залоговых активов
          до&nbsp;сопровождения трансграничных сделок в&nbsp;соответствии
          с&nbsp;процедурами банковского комплаенса (KYC/AML).
        </p>
      </div>

      <div class="partners-section__image-wrapper">
        <picture class="partners-section__photo-wrapper js-partners-photo">
          <source
            srcset={`${BASE}images/partners-section/partners-image-desktop.webp`}
            media="(min-width: 768px)"
          />

          <img
            class="partners-section__photo"
            src={`${BASE}images/partners-section/partners-image-mobile.webp`}
            alt="изображение"
            loading="lazy"
          />
        </picture>

        <div class="partners-section__image-ball js-partners-image-ball"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap, SplitText } from '../scripts/helpers/gsap.js';
  import { layoutScrollSmoother } from '../scripts/layoutScrollSmoother.js';

  function partnersSectionAnimation() {
    layoutScrollSmoother.smoother?.effects('.js-partners-photo', {
      speed: 0.93,
      lag: 0.1,
    });

    layoutScrollSmoother.smoother?.effects('.js-partners-image-ball', {
      speed: 1.03,
      lag: 0.1,
    });

    const mm = gsap.matchMedia();

    function sectionAnimations() {
      const splitTitle = SplitText.create('.js-partners-title', { type: 'chars,words' });
      const splitSubitle = SplitText.create('.js-partners-subtitle', { type: 'words,lines' });
      const splitText = SplitText.create('.js-partners-text', { type: 'words,lines' });

      gsap.from(splitTitle.chars, {
        opacity: 0,
        x: '3rem',
        y: '-2rem',
        duration: 0.4,
        ease: 'power4.out',
        stagger: 0.05,
        scrollTrigger: {
          trigger: '.js-partners-title',
          start: "bottom bottom",
        },
      });
  
      gsap.from(splitSubitle.lines, {
        opacity: 0,
        y: '5rem',
        duration: 1,
        ease: 'power4.out',
        stagger: 0.07,
        scrollTrigger: {
          trigger: '.js-partners-subtitle',
          start: "bottom bottom",
        },
      });

      gsap.from(splitText.lines, {
        opacity: 0,
        y: '5rem',
        duration: 1,
        ease: 'power4.out',
        stagger: 0.07,
        scrollTrigger: {
          trigger: '.js-partners-text',
          start: "bottom bottom",
        },
      });

      gsap.from('.js-vtb-logo', {
        opacity: 0,
        y: '3rem',
        duration: 1,
        delay: 0.5,
        ease: 'power4.out',
        scrollTrigger: {
          trigger: '.js-vtb-logo',
          start: "bottom-=3rem bottom",
        },
      });

      return () => {
        splitTitle.revert();
        splitSubitle.revert();
        splitText.revert();
      };
    }
    
    mm.add('(max-width: 767.98px)', sectionAnimations);

    mm.add('(min-width: 768px) and (max-width: 1199.98px)', sectionAnimations);

    mm.add('(min-width: 1200px)', sectionAnimations);
  }

  partnersSectionAnimation();
</script>

<style lang="scss" is:global>
  .partners-section {
    $element: &;

    padding: rem(80) 0;
    background-color: $dark;
    color: $light;
    cursor: none;
    pointer-events: none;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

    @media #{$desktop-sm} {
      padding: rem(120) 0;
    }

    @media #{$is-hover} {
      pointer-events: auto;
    }

    &__container {
      @include base-container;
    }

		&__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: rem(60);

      @media #{$tablet} {
        flex-direction: row;
      }

      @media #{$desktop-sm} {
        margin-left: rem(232);
      }
    }

		&__title {
      @media #{$tablet} {
        @include h3;

        flex-shrink: 0;
        width: rem(460);
      }
		}

		&__vtb-logo {
      flex-shrink: 0;
      width: rem(126);

      @media #{$tablet} {
        width: rem(170);
      }
		}

		&__bottom {
      display: flex;
      flex-direction: column;
      gap: rem(48);
      margin-top: rem(60);

      @media #{$tablet} {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        gap: rem(184);
        margin-top: rem(140);
      }

      @media #{$desktop-sm} {
        gap: rem(394);
        margin-top: rem(148);
      }
		}

		&__info {
      @media #{$desktop-sm} {
        max-width: rem(444);
      }
		}

		&__info-title {
      @include h4;
		}

		&__info-text {
      margin: rem(48) rem(48) 0 0;

      @media #{$tablet} {
        margin: rem(72) rem(72) 0 0;
      }

      @media #{$desktop-sm} {
        margin: rem(72) 0 0 0;
      }
		}

    &__text {
      margin-top: rem(60);
      
      @media #{$tablet} {
        margin-top: rem(72);
        margin-left: rem(490);
        max-width: rem(444);
      }

      @media #{$desktop-sm} {
        margin-left: rem(698);
      }
    }

		&__image-wrapper {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: rem(440);
      overflow: hidden;

      @media #{$tablet} {
        width: rem(304);
        height: rem(342);
      }

      @media #{$desktop-sm} {
        margin-top: rem(186);
        height: rem(382);
      }
		}

		&__photo-wrapper {
      display: block;
      position: absolute;
      top: rem(-80);
      width: 100%;
      height: rem(600);
      object-fit: cover;

      @media #{$tablet} {
        top: rem(-72);
        height: rem(526);
      }
		}

		&__photo {
      display: block;
      width: 100%;
      height: 100%;
		}

		&__image-ball {
      position: absolute;
      top: rem(120);
      left: rem(14);
      z-index: 1;
      width: rem(187);
      height: rem(187);
      border-radius: 50%;
      background-color: $secondary;
      mix-blend-mode: hard-light;

      @media #{$tablet} {
        top: rem(120);
        left: rem(30);
        width: rem(163);
        height: rem(163);
      }
		}
  }
</style>
