---
import { BASE } from '../scripts/helpers/constants.js';
import BaseTitle from '../ui/BaseTitle.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['philosophy-section', className];

const infoList = [
  {
    title: 'Абсолютная<br>независимость',
    text: `
			Мы не&nbsp;являемся арт-дилерами и&nbsp;не&nbsp;владеем собственным стоком.
      Мы не&nbsp;продаем «своё»&nbsp;— мы&nbsp;анализируем глобальный рынок,
      чтобы найти лучшее для&nbsp;вас.
		`,
  },
  {
    title: 'Бескомпромиссный<br>Due&nbsp;Diligence',
    text: `
			Провенанс и&nbsp;чистота титула важнее громких имен.
      Актив проходит жесткую проверку до&nbsp;того,&nbsp;как&nbsp;вы
      увидите предложение.
		`,
  },
  {
    title: 'Конфиденциальность:<br>Discretion&nbsp;is&nbsp;paramount',
    text: `
			Ваши транзакции,
      структура активов и&nbsp;личные данные
      остаются в&nbsp;строгом&nbsp;контуре&nbsp;тишины.
		`,
  },
  {
    title: 'Вход&nbsp;в&nbsp;мир&nbsp;искусства<br>требует&nbsp;проводника',
    text: `
			Мы работаем с&nbsp;теми, кто уже&nbsp;состоялся
      в&nbsp;бизнесе и&nbsp;готов оставить след&nbsp;в&nbsp;истории.
		`,
  },
];
---

<section
  class:list={classes}
  {...attrs}
>
  <img
    class="philosophy-section__word js-philosophy-word"
    src={`${BASE}images/philosophy-section/philosophy-word.svg`}
    alt="Философия"
    loading="lazy"
  />

  <div class="philosophy-section__container">
    <BaseTitle 
      class="philosophy-section__title"
    >
      Тонкая навигация там,&nbsp;где нет&nbsp;очевидных правил.
      Решения зависят от&nbsp;контекста, репутации,
      доступа
      <span class="philosophy-section__title-line">и&nbsp;доверия</span>
    </BaseTitle>
    
    <div class="philosophy-section__image-wrapper">
      <picture class="philosophy-section__photo-wrapper js-philosophy-photo">
        <source
          srcset={`${BASE}images/philosophy-section/philosophy-image-desktop.webp`}
          media="(min-width: 1200px)"
        />

        <source
          srcset={`${BASE}images/philosophy-section/philosophy-image-tablet.webp`}
          media="(min-width: 768px) and (max-width: 1199.98px)"
        />
      
        <img
          class="philosophy-section__photo"
          src={`${BASE}images/philosophy-section/philosophy-image-mobile.webp`}
          alt="фото"
          loading="lazy"
        />
      </picture>

      <div class="philosophy-section__image-ball js-philosophy-image-ball"></div>
    </div>

    <div class="philosophy-section__info js-philosophy-info">
      {infoList.map((item) => (
        <div class="philosophy-section__info-item js-philosophy-info-item">
          <h3 
            class="philosophy-section__info-item-title js-philosophy-info-item-title"
            set:html={item.title}
          />

          <p 
            class="philosophy-section__info-item-text js-philosophy-info-item-text"
            set:html={item.text}
          />
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  import { gsap, SplitText } from '../scripts/helpers/gsap.js';
  import { layoutScrollSmoother } from '../scripts/layoutScrollSmoother.js';

  function philosophySectionAnimations() {
    const philosophyWord = document.querySelector('.js-philosophy-word');
    const philosophyPhoto = document.querySelector('.js-philosophy-photo');
    const philosophyImageBall = document.querySelector('.js-philosophy-image-ball');

    if (philosophyWord && layoutScrollSmoother.smoother) {
      layoutScrollSmoother.smoother.effects(philosophyWord, {
        speed: 1.4,
        lag: 0.5,
      });
    }

    if (philosophyPhoto && philosophyImageBall && layoutScrollSmoother.smoother) {
      layoutScrollSmoother.smoother.effects(philosophyPhoto, {
        speed: 1.04,
        lag: 0.1,
      });

      layoutScrollSmoother.smoother.effects(philosophyImageBall, {
        speed: 0.9,
        lag: 0.1,
      });
    }

    const mm = gsap.matchMedia();
    const info = document.querySelector('.js-philosophy-info');

    function sectionAnimationsHandler() {
      if (!info) {
        return;
      }

      const infoItems = info.querySelectorAll('.js-philosophy-info-item');
      const splitInfoItemTitles = [];
      const splitInfoItemTexts = [];

      infoItems.forEach((infoItem) => {
        const infoItemTitle = infoItem.querySelector('.js-philosophy-info-item-title');
        const infoItemText = infoItem.querySelector('.js-philosophy-info-item-text');

        if (!infoItemTitle || !infoItemText) {
          return;
        }

        const splitInfoItemTitle = SplitText.create(infoItemTitle, {
          type: 'lines',
          reduceWhiteSpace: false,
        });
        const splitInfoItemText = SplitText.create(infoItemText, {
          type: 'words,chars',
          reduceWhiteSpace: false,
        });

        splitInfoItemTitles.push(splitInfoItemTitle);
        splitInfoItemTexts.push(splitInfoItemText);

        const infoItemTimeLine = gsap.timeline({
          scrollTrigger: {
            trigger: infoItem,
            start: 'bottom bottom-=10%',
          },
          onComplete() {
            infoItemTimeLine.scrollTrigger?.kill();
            infoItemTimeLine.kill();
          },
        });

        infoItemTimeLine.from(splitInfoItemTitle.lines, {
          opacity: 0,
          y: '3rem',
          duration: 1,
          ease: 'power4.out',
          stagger: 0.2,
        }, 0)
        .from(splitInfoItemText.chars, {
          opacity: 0,
          duration: 0.01,
          ease: 'power4.out',
          stagger: 0.01,
        }, 0.5)
        .from(infoItem, {
          '--x-scale': "0%",
          duration: 2.5,
          ease: 'power1.out',
        }, 0);
      });

      return () => {
        splitInfoItemTitles.forEach((splitInfoItemTitle) => splitInfoItemTitle.revert());
        splitInfoItemTexts.forEach((splitInfoItemText) => splitInfoItemText.revert());
      };
    }

    mm.add('(max-width: 767.98px)', () => {
      if (!info) {
        return;
      }

      gsap.utils.toArray('.js-philosophy-info-item', info).forEach((item) => {
        const tween = gsap.from(item, {
          opacity: 0,
          y: '5rem',
          duration: 1,
          ease: 'power4.out',
          scrollTrigger: {
            trigger: item,
            start: "bottom bottom",
          },
          onComplete() {
            tween.scrollTrigger?.kill();
            tween.kill();
          },
        });
      });
    });

    mm.add('(min-width: 768px) and (max-width: 1199.98px)', sectionAnimationsHandler);
    mm.add('(min-width: 1200px)', sectionAnimationsHandler);

    document.addEventListener('astro:before-swap', () => {
      mm.revert();
    }, { once: true });
  }

  philosophySectionAnimations();
</script>

<style lang="scss" is:global>
  .philosophy-section {
    $element: &;

    position: relative;
    padding: rem(60) 0 ;
    background-color: $light;
    color: $dark;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

    @media #{$desktop-sm} {
      padding: rem(120) 0;
    }

    &__word {
      display: block;
      position: absolute;
      top: 20%;
      right: var(--container-padding);
      z-index: 1;
      width: rem(48);
      opacity: 0.12;

      @media #{$tablet} {
        width: rem(68);
      }

      @media #{$desktop-lg} {
        right: calc(50% - 960px + #{var(--container-padding)});
      }
    }

    &__container {
      @include base-container;
    }

    &__title {
      @media #{$tablet} {
        width: rem(990);
      }
    }

    &__title-line {
      @media #{$tablet} {
        display: block;
      }
    }

		&__info-item {
      --x-scale: 100%;

      position: relative;
      display: flex;
      flex-direction: column;
      padding: rem(48) 0;

      @media #{$tablet} {
        flex-direction: row;
        align-items: center;
        gap: rem(20);
        padding: rem(52) 0;
      }

      @media #{$desktop-sm} {
        gap: rem(160);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(var(--x-scale));
        background-color: $dark;

        @media #{$tablet} {
          transform-origin: left center;
        }
      }

      &:last-child::after {
        display: none;
      }
		}

		&__info-item-title {
      @include h4;

      flex-shrink: 0;

      @media #{$tablet} {
        width: rem(306);
      }
		}

		&__info-item-text {
      @include text2;

      padding-top: rem(20);
      overflow: hidden;

      @media #{$tablet} {
        flex-grow: 1;
        padding-top: 0;
      }

      @media #{$desktop-sm} {
        flex-grow: 0;
        max-width: rem(780);
      }
		}

		&__image-wrapper {
      position: relative;
      margin-top: rem(48);
      width: 100%;
      height: rem(176);
      overflow: hidden;

      @media #{$tablet} {
        margin-top: rem(52);
      }
		}

		&__photo-wrapper {
      display: block;
      position: absolute;
      bottom: rem(-60);
      width: 100%;
      height: rem(296);
      object-fit: cover;
		}

		&__photo {
      display: block;
      width: 100%;
      height: 100%;
		}

		&__image-ball {
      position: absolute;
      top: rem(20);
      left: rem(266);
      z-index: 1;
      width: rem(78);
      height: rem(78);
      border-radius: 50%;
      background-color: $secondary;
      mix-blend-mode: hard-light;

      @media #{$tablet} {
        top: rem(-40);
        left: rem(660);
        width: rem(150);
        height: rem(150);
      }

      @media #{$desktop-sm} {
        top: rem(-40);
        left: rem(870);
        width: rem(164);
        height: rem(164);
      }
		}
  }
</style>
